.taskItem {
  width: 45vw;
  display: flex;
  justify-content: space-between;
  margin: 15px auto 0 auto;
  padding: 5px 10px;
  border-bottom: 1px solid gray;
  text-transform: capitalize;
}
.icons {
  display: flex;
  justify-content: space-evenly;
  width: 15%;
}
.edit,
.delete,
.done {
  cursor: pointer;
  transition: all 0.2s;
}

.delete:hover {
  color: red;
}
.edit:hover {
  color: blue;
}
.done:hover {
  color: green;
}
